   <section class="log-in-contenedor">
        <section class="log-in-container" th:fragment="contenido">
            <article class="log-in-info-container">
                <h1 class="title">Iniciar sesión</h1>
                
                <form class="input-container" th:action="@{/logincheck}" method="POST">

                    <!--

                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

                    -->

                        <label for="email">Correo electrónico</label>
                        <input type="text" class="input" id="email" name="email" placeholder="Correo electrónico">

                        <label for="email">Contraseña</label>
                        <input type="password" class="input" id="password" name="password" placeholder="Contraseña">

                        <button type="submit" class="btn">Acceder</button>

                </form>
                
                <h2 class="enlace-sign-up" sec:authorize="isAnonymous()">¿No tienes una cuenta? Crea una <a href="../sign-up/registro.html">aquí</a></h2>
            
            </article>
            
            <img class="image-container" src="../../static/images/cancha.png" alt="Cancha">
        
        </section>
   </section>

    <script th:fragment="script">
    </script>
