<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    
    <!--<title>Ver Reserva</title>-->
    <title th:text="${titulo}"></title>
    
    <link rel="icon" href="cancha2.ico">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--ENCABEZADO-->
    <header>
        <section class="enlaces-header">
            <h1>Gestor de reservas</h1>
        </section>
        <section class="btn-log-out">
            <a href="#">Cerrar sesión</a> <!--A COMPLETAR-->
        </section>
    </header>
    
    <!--CUERPO-->

    <!--FORMULARIO-->

    <section class="contenedor-form" th:fragment="contenido">
        <div class="card-header h3" th:text="${reserva.id}"></div>
            <p class="p1">
                <span class="fw-bold">Ubicación del Complejo:</span>
                <span th:text="${reserva.ubicacionComplejo}"></span>
            </p>
            <p>
                <span class="fw-bold">Deporte:</span>
                <span th:text="${reserva.deporte}"></span>
            </p>
            <p>
                <span class="fw-bold">Material de la Cancha:</span> 
                <span th:text="${reserva.materialCancha}"></span>
            </p>    
            <p>
                <span class="fw-bold">Dimensiones de la Cancha:</span> 
                <span th:text="${reserva.dimensionesCancha}"></span>
            </p>        
            <p>
                <span class="fw-bold">Inicio:</span> 
                <span th:text="${#dates.format(reserva.fechaInicio, 'd MMMMM yyyy')}"></span>
            </p>  
            <p>
                <span class="fw-bold">Fin:</span> 
                <span th:text="${#dates.format(reserva.fechaFin, 'd MMMMM yyyy')}"></span>
                <!-- <span th:text="${reserva.fechaFin}"></span> -->
            </p>         
        </div>
    </section>

    <script th:fragment="script"></script>

    <!--FOOTER-->
    <footer>
        <p>Desarrollado por Grupo 7 | Todos los derechos reservados</p>
        <p>PoloTic | Posadas, Misiones | 2022</p>
    </footer>
</body>
</html>