
    <!--ENCABEZADO-->
    <header th:fragment="header">
        <section class="enlaces-header">
            <h1>Vista de Administrador</h1>
        </section>
        <section sec:authorize="isAuthenticated()">
            <form class="btn-log-out" th:action="@{/logout}" method="POST">
                <button type="submit" onclick="return confirm('¿Está seguro de cerrar sesión?')">
                    Cerrar sesión
                </button>
            </form>
        </section>
    </header>
    
    <!--CUERPO-->

    <!--FORMULARIO-->

    <section class="contenedor-form-complejo" th:fragment="contenido">
        <!--COMPLEJO DEPORTIVO-->
            <form class="card-body" th:action="@{'/complejosdeportivos/editar/{id}' (id=${complejodeportivo.id})}" th:object="${complejodeportivo}" th:method="PUT">

                        <div class="mb-3">
                            <label for="nombreComplejo" class="form-label">Nombre</label>
                            <input type="text" class="form-control" th:field="*{nombreComplejo}" th:errorClass="'is-invalid'" placeholder="Nombre del Complejo">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('nombreComplejo')}" th:errors="*{nombreComplejo}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="deporteComplejo" class="form-label">Deporte</label>
                            <input type="text" class="form-control" th:field="*{deporteComplejo}" th:errorClass="'is-invalid'" placeholder="Deporte">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('deporteComplejo')}" th:errors="*{deporteComplejo}"></div>
                        </div>
    
                        <div>
                            <button type="submit" class="btn btn-primary">Modificar</button>
                        </div>

            </form>
    </section>
    
    <script th:fragment="script">
        $(document).ready(function() {
            $('.select2').select2({
                placeholder: 'Seleccione una opción',
                allowClear: true,
                width: '100%',
            });
        });
    </script>
    
    <!--FOOTER-->
    <footer>
        <p>Desarrollado por Grupo 7 | Todos los derechos reservados</p>
        <p>PoloTic | Posadas, Misiones | 2022</p>
    </footer>
