<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!--
    <title>Home</title> -->
    <title th:text="${titulo}"></title>
    <link rel="icon" href="cancha2.ico">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!--ENCABEZADO-->
    <header th:fragment="header">
        <section class="enlaces-header-home">
            <h1>Gestor de reservas</h1>
            <a href="#quienes-bloque">¿Quiénes somos?</a>
            <a href="#mision-bloque">Nuestra misión</a>
            <a href="#soporte">Soporte</a>
        </section>
        <section class="btn-log-in" sec:authorize="isAnonymous()">
            <a href="/login">Acceder</a>
        </section>
    </header>

    <!--CUERPO-->
        <section class="contenedor-cuerpo">
            <section class="quienes-bloque" id="quienes-bloque">
                <div class="q-txt">
                    <h3>¿Quiénes somos?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis repudiandae quasi consectetur reprehenderit, error ex corporis iure, ullam accusantium sunt laborum in omnis assumenda quo? Quos in quae tempora recusandae.</p>
                </div>
                <div class="q-img">
                    <img src="logo.png" alt="Logo-empresa">
                </div>
            </section>
            <section class="mision-bloque" id="mision-bloque">
                <div class="m-img">
                    <img src="" alt="">
                </div>
                <div class="m-txt">
                    <h3>Nuestra misión y nuestros valores</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium provident temporibus pariatur repudiandae odit minima optio blanditiis, odio quisquam qui earum iusto placeat tempora commodi sequi. Nam eos deleniti dolorum!</p>
                </div>
            </section>
            <section class="soporte-bloque" id="soporte">
                <div class="s-txt">
                    <h3>¿Necesitas asistencia?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ut vero voluptatem expedita numquam minus totam voluptas, quia quasi tempora quaerat cupiditate voluptates quas culpa, officiis magnam praesentium repellendus. Soluta!
                    Soporte podrá brindarte una solución. ¡Haz click <a href="mailto:soportereservas@gmail.com">aquí</a>!</p>
                </div>
                <div class="s-img">
                    <img src="" alt="">
                </div>
            </section>
        </section>

        <script th:fragment="script"></script>

    <!--FOOTER-->
        <footer>
            <p>Desarrollado por Grupo 7 | Todos los derechos reservados</p>
            <p>PoloTic | Posadas, Misiones | 2022</p>
        </footer>
</body>
</html>