<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    
    <title>Crear Nuevo Complejo</title>
    <link rel="icon" href="cancha2.ico">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--ENCABEZADO-->
    <header th:fragment="header">
        <section class="enlaces-header">
            <h1>Vista de Administrador</h1>
        </section>
        <section sec:authorize="isAuthenticated()">
            <form class="btn-log-out" th:action="@{/logout}" method="POST">
                <button type="submit" onclick="return confirm('¿Está seguro de cerrar sesión?')">
                    Cerrar sesión
                </button>
            </form>
        </section>
    </header>
    
    <!--CUERPO-->

    <!--FORMULARIO-->

    <section class="contenedor-form" th:fragment="contenido">
        <!--COMPLEJO DEPORTIVO-->
            <form class="card-body" th:action="@{/complejosdeportivos/crear}" th:object="${complejoDeportivo}" method="POST">

                        <div class="mb-3">
                            <label for="nombreComplejo" class="form-label">Nombre</label>
                            <input type="text" class="form-control" th:field="*{nombreComplejo}" th:errorClass="'is-invalid'" placeholder="Nombre del Complejo">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('nombreComplejo')}" th:errors="*{nombreComplejo}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="deporteComplejo" class="form-label">Deporte</label>
                            <input type="text" class="form-control" th:field="*{deporteComplejo}" th:errorClass="'is-invalid'" placeholder="Deporte">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('deporteComplejo')}" th:errors="*{deporteComplejo}"></div>
                        </div>
    
                        <div>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>

            </form>
    </section>
    
    <script th:fragment="script">
        $(document).ready(function() {
            $('.select2').select2({
                placeholder: 'Seleccione una opción',
                allowClear: true,
                width: '100%',
            });
        });
    </script>
    
    
    <!--FOOTER-->
    <footer>
        <p>Desarrollado por Grupo 7 | Todos los derechos reservados</p>
        <p>PoloTic | Posadas, Misiones | 2022</p>
    </footer>
</body>
</html>