:root {
    font-family: 'Inter', sans-serif;
    --blue-green: #28696A;
    --hover-green: #1f5152;
    --blue: #213058;
    --hover-blue: #2e4174;
    --old-white: #F0E6D7;
    --mustard: #F4AE3F;
    --hover-mustard: #eea125;
    --black: #101010;
    --grey: #eeeeee;
    --contenedor: #f3f4ff;
}

body {
    height: 100vh; /* vh significa viewport height o altura del dispositivo, equivalente a decir 100% */
    background: linear-gradient(to right, #2e4174, #28696A);
}

/* ENCABEZADO */

header {
    width: 100%;
    height: 5em;
    margin: 0;
    display: grid;
    grid-template-columns: 14fr 3fr;
    flex-direction: row;
    background-color: var(--contenedor);
}

.enlaces-header {
    padding: 2em 3em;
    margin-left: 14em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2em;
    color: var(--black);   
}

.enlaces-header h1 {
    align-content: center;
}

.enlaces-header h1 {
    font-size: 1.2em;
    font-weight: 600;
}

.enlaces-header a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.1em;
    font-weight: 400;
}

.enlaces-header a:hover {
    color: var(--hover-mustard);
    font-weight: 600;
}

.btn-log-out {
    padding: 1.5em 3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-log-out a {
    width:100%;
    height:2.4em;
    text-decoration: none;
    border-radius: 1em;
    background-color: var(--mustard);
    color: var(--black);
    padding: .5em 1.3em;
    font-size: medium;
    font-weight: 600;
}

.btn-log-out a:hover {
    background-color: var(--hover-mustard);
    color: var(--grey);
}

/*CUERPO*/

/*FORMULARIO*/

.contenedor-form {
    height: auto;
    width: 50em;
    margin: 7.27em auto;    
    padding: 2em 4em;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
    justify-content: space-between;

    background-color: var(--contenedor) 
}

/* FOOTER */
footer {
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: var(--contenedor);
}

footer p {
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    color: var(--black);
}