:root {
    font-family: 'Inter', sans-serif;
    --blue-green: #28696A;
    --hover-green: #1f5152;
    --blue: #213058;
    --hover-blue: #2e4174;
    --old-white: #F0E6D7;
    --mustard: #F4AE3F;
    --hover-mustard: #eea125;
    --black: #101010;
    --grey: #eeeeee;
    --contenedor: #f3f4ff;
}

body { 
    margin: 0;
    background: linear-gradient(to right, #2e4174, #28696A);
}

/*------------------HOME-----------------*/
/* ENCABEZADO */

header {
    width: 100%;
    height: 5em;
    margin: 0;
    display: grid;
    grid-template-columns: 16fr 1fr;
    flex-direction: row;
    background-color: var(--contenedor);
}

.enlaces-header-home {
    padding: 2em 3em;
    margin-left: 10em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2em;
    color: var(--black);   
}

.enlaces-header {
    padding: 2em 3em;
    margin-left: 14em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2em;
    color: var(--black);   
}

.enlaces-header-home h1, .enlaces-header h1 {
    align-content: center;
}

.enlaces-header-home h1, .enlaces-header h1 {
    font-size: 1.2em;
    font-weight: 600;
}

.enlaces-header-home a, .enlaces-header a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.1em;
    font-weight: 400;
}

.enlaces-header-home a:hover, .enlaces-header a:hover {
    color: var(--hover-mustard);
    font-weight: 600;
}

.btn-log-in {
    padding: 1.5em 3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-log-in a {
    width:100%;
    height:2.4em;
    text-decoration: none;
    border-radius: 1em;
    background-color: var(--mustard);
    color: var(--black);
    padding: .5em 1.3em;
    font-size: medium;
    font-weight: 600;
}

.btn-log-in a:hover {
    background-color: var(--hover-mustard);
    color: var(--grey);
}

.btn-log-out {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-log-out button {
    padding: 1.5em 3em;
    width: 9em;
    height:2.4em;
    text-decoration: none;
    border-radius: 1em;
    background-color: var(--mustard);
    color: var(--black);
    padding: 0 1.3em;
    font-size: medium;
    font-weight: 600;
    border-color: var(--mustard);
    box-shadow: none;
}

.btn-log-out button:hover {
    background-color: var(--hover-mustard);
    color: var(--grey);
    border-color: var(--hover-mustard);
}

/* CUERPO */

.contenedor-cuerpo {
    
}

.quienes-bloque {
    height: 22em;
    width: 60em;
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3);;
}

.q-txt {
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    text-align: center;
    background-color: var(--contenedor) ;
}

.q-txt h3 {
    font-size: 2rem;
    font-weight: 600;
    align-items: center;
    margin-top: 2em;
}

.q-txt p {
    margin-right: 2em;
    margin-left: 2em;
    font-size: 1rem;
    justify-content: baseline;
}

.q-img {
    width: 50%;
    padding: 3rem;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
}

.q-img img {

    margin-top: 4em;
}

.mision-bloque {
    height: 22em;
    width: 60em;
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3);;
}

.m-txt {
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    text-align: center;
    background-color: var(--contenedor) ;
}

.m-txt h3 {
    font-size: 2rem;
    font-weight: 600;
    align-items: center;
    margin-top: 2em;
}

.m-txt p {
    margin-right: 2em;
    margin-left: 2em;
    font-size: 1rem;
    justify-content: baseline;
}

.m-img {
    width: 50%;
    padding: 3rem;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
}

.m-img img {

    margin-top: 4em;
}

.soporte-bloque {
    height: 22em;
    width: 60em;
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3);;
}

.s-txt {
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    text-align: center;
    background-color: var(--contenedor) ;
}

.s-txt h3 {
    font-size: 2rem;
    font-weight: 600;
    align-items: center;
    margin-top: 2em;
}

.s-txt p {
    margin-right: 2em;
    margin-left: 2em;
    font-size: 1rem;
    justify-content: baseline;
}

.s-img {
    width: 50%;
    padding: 3rem;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
}

.s-img img {

    margin-top: 4em;
}

/*-----------LOGIN/SIGNUP------------*/

.log-in-contenedor, .sign-up-contenedor {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-container {
    height: 24em;
    width: 60em;
    margin: 6em auto;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3);;
}

.sign-up-container {
    height: 29em;
    width: 26em;
    margin: 6em auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    background-color: var(--contenedor);
    border-radius: 0.5rem;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3);;
}

.log-in-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    background-color: var(--contenedor) ;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin: .5em;
}

.title-sign-up {
    font-size: 2rem;
    font-weight: 600;
    margin-top: .5em;
}

.enlace-sign-up {
    font-size: .8rem;
    font-weight: 400;
}

.enlace-sign-up a {
    color: var(--blue-green);
}

.enlace-sign-up a:hover {
    font-weight: 500;
    color: var(--hover-green);
}

.image-container {
    width: 50%;
    padding: 3rem;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    /*opacity: 40%;*/
}

label {
    font-size: small;
    color: var(--contenedor);
}

.input-container {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-container-sign-up {
    height: auto;
    width: 90%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.input, .btn {
    height: 2rem;
    width: 80%;
    font-size: .8rem;
}

.input, select, option {
    padding-left: 1rem;
    border: none;
    border-radius: 0.5rem;
    /*font-weight: 600;*/
    box-sizing: border-box;
}

.input, select, option:hover {
    border: 2px solid var(--hover-blue);
}

.btn {
    padding: .5rem 1rem;
    width: 30%;
    background-color: var(--blue-green);
    border: none;
    border-radius: 1rem;
    color: var(--old-white);
    font-size: .8rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1.5em;
    margin-bottom: .5em;
}

.btn:hover {
    border: #fff;
    color: var(--old-white);
    background-color: var(--hover-green);
}

/*CUERPO*/

/*-----FORMULARIO CREAR SERVICIO------*/
.contenedor-form-crear {
    height: auto;
    width: 40em;
    margin: 3em auto;    
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
    justify-content: space-between;

    background-color: var(--contenedor) 
}

.contenedor-form-crear h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: .5em;
}

form {
    margin: 1.5em;
}

.date-form {
    margin: .5em;
}

.contenedor-submit {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.submit-btn {
    border: var(--blue-green);
    background-color: var(--blue-green);
}

.submit-btn:hover {
    border: var(--hover-green);
    background-color: var(--hover-green);
}

.contenedor-form-crear h3 {
    margin-bottom: .5em;
}

select, label {
    margin-bottom: 1em;
}

/*------FORMULARIO LISTA RESERVA-------*/

.contenedor-form {
    height: auto;
    width: 70em;
    margin: 7.27em auto;    
    padding: 2em 4em;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    background-color: var(--contenedor) 
}

.btn-crear{
    margin-top: 0;
    padding: .5em;
    width: 3em;
}

.btn-editar {
    margin-top: 0;
    padding: .5em;
    width: 3em;
}

/*------FORMULARIO CREAR RESERVA-------*/

.contenedor-form-crear {
    height: auto;
    width: 40em;
    margin: 7.27em auto;    
    padding: 2em 4em;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    background-color: var(--contenedor) 
}

.contenedor-form-crear h3 {
    font-size:larger;
}

.contenedor-form-crear label {
    margin-bottom: 1em;
    margin-top: .5em;
    margin-right: .5em;
    color: var(--black);
}

.btn-buscar{
    margin-top: 0;
    padding: .5em 1em;
    width: fit-content;
}

/*-------FORMULARIO EDITAR RESERVA---------*/

.contenedor-form-editar {
    height: auto;
    width: 40em;
    margin: 7.27em auto;    
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
    justify-content: space-between;

    background-color: var(--contenedor) 
}

.contenedor-form-editar h3 {
    font-size:larger;
}

.contenedor-form-editar label {
    margin-bottom: 1.5em;
    margin-top: 1em;
    margin-right: 1em;
    color: var(--black);
}

.btn-modificar {
    width:fit-content;
    padding: 0 1em;
}

/*-----FORMULARIO VER RESERVA-----*/

.contenedor-form-ver {
    height: auto;
    width: 50em;
    margin: 7.27em auto;    
    padding: 2em 4em;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
    justify-content: space-around;
    background-color: var(--contenedor) 
}

.p1 {
    padding-top: .5em;
}

.identificador-lista {
    display: flex;
}

/*FORMULARIO CREAR/LISTA/EDITAR COMPLEJO*/

.contenedor-form-complejo,.contenedor-form-deporte, .contenedor-form-cancha, .contenedor-form-rol {
    height: auto;
    width: 50em;
    margin: 7.27em auto;    
    padding: 2em 4em;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    background-color: var(--contenedor) 
}

.contenedor-form-complejo label {
    color: var(--black);
}

.contenedor-form-complejo input, select, option {
    padding-left: 1rem;
    border: none;
    border-radius: 0.5rem;
    /*font-weight: 600;*/
    box-sizing: border-box;
}

.contenedor-form-cancha label {
    color: var(--black);
}

.contenedor-form-cancha input, select, option {
    padding-left: 1rem;
    border: none;
    border-radius: 0.5rem;
    /*font-weight: 600;*/
    box-sizing: border-box;
}

.contenedor-form-deporte label {
    color: var(--black);
}

.contenedor-form-deporte input, select, option {
    padding-left: 1rem;
    border: none;
    border-radius: 0.5rem;
    /*font-weight: 600;*/
    box-sizing: border-box;
}

/* FOOTER */
footer {
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: var(--contenedor);
}

footer p {
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    color: var(--black);
}