    <!--ENCABEZADO-->
    <header th:fragment="header">
        <section class="enlaces-header">
            <h1>Vista de Administrador</h1>
        </section>
        <section sec:authorize="isAuthenticated()">
            <form class="btn-log-out" th:action="@{/logout}" method="POST">
                <button type="submit" onclick="return confirm('¿Está seguro de cerrar sesión?')">
                    Cerrar sesión
                </button>
            </form>
        </section>
    </header>
    
    <!--CUERPO-->

    <!--FORMULARIO-->

    <section class="contenedor-form-deporte" th:fragment="contenido">
        <!--DEPORTE-->
            <form class="card-body" th:action="@{'/deportes/editar/{id}' (id=${deporte.id})}" th:object="${deporte}" th:method="PUT">
                    <div class="mb-3">
                        <label for="nombreDeporte" class="form-label">Deporte</label>
                        <input type="text" class="form-control" th:field="*{nombreDeporte}" th:errorClass="'is-invalid'" placeholder="Deporte">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('nombreDeporte')}" th:errors="*{nombreDeporte}"></div>
                    </div>
                    
                    <div>
                        <button type="submit" class="btn btn-primary">Modificar</button>
                    </div>
            </form>
    </section>
    
    <script th:fragment="script">
        $(document).ready(function() {
            $('.select2').select2({
                placeholder: 'Seleccione una opción',
                allowClear: true,
                width: '100%',
            });
        });
    </script>
    
    <!--FOOTER-->
    <footer>
        <p>Desarrollado por Grupo 7 | Todos los derechos reservados</p>
        <p>PoloTic | Posadas, Misiones | 2022</p>
    </footer>
