    <!--ENCABEZADO-->
    <header th:fragment="header">
        <section class="enlaces-header">
            <h1>Vista de Administrador</h1>
        </section>
        <section sec:authorize="isAuthenticated()">
            <form class="btn-log-out" th:action="@{/logout}" method="POST">
                <button type="submit" onclick="return confirm('¿Está seguro de cerrar sesión?')">
                    Cerrar sesión
                </button>
            </form>
        </section>
    </header>
    
    <!--CUERPO-->

    <!--FORMULARIO-->

    <section class="contenedor-form-deporte" th:fragment="contenido">
        <div class="card-header h3" th:text="${deporte.nombreDeporte}"></div>
            <p class="p1">
                <span class="fw-bold">Nombre del Deporte:</span>
                <span th:text="${deporte.nombreDeporte}"></span>
            </p>            
        </div>
    </section>

    <script th:fragment="script"></script>

    <!--FOOTER-->
    <footer>
        <p>Desarrollado por Grupo 7 | Todos los derechos reservados</p>
        <p>PoloTic | Posadas, Misiones | 2022</p>
    </footer>
