    <!--ENCABEZADO-->
    <header th:fragment="header">
        <section class="enlaces-header">
            <h1>Gestor de reservas</h1>
        </section>
        <section sec:authorize="isAuthenticated()">
            <form class="btn-log-out" th:action="@{/logout}" method="POST">
                <button type="submit" onclick="return confirm('¿Está seguro de cerrar sesión?')">
                    Cerrar sesión
                </button>
            </form>
        </section>
    </header>
    
    <!--CUERPO-->

    <!--FORMULARIO-->
    <section class="contenedor-form-crear" th:fragment="contenido">
        
        <form class="row g-3" th:action="@{/reservas/crear}" th:object="${reserva}" method="POST"></form>

        <!--COMPLEJO-->
        <h3>Selecciona el complejo</h3>
            <div class="col-12">
                <label for="direccionComplejo" class="form-label">Dirección</label>
                <select id="direccionComplejo" th:field="*{direccionComplejo}" th:errorClass="'is-invalid'">
                    <option selected value=""></option>
                    <option th:each="d : ${direccionComplejos}" th:value="${d.id}" th:text="${d.nombre}"></option>
                </select>
            </div>

        <!--DEPORTE-->
        <h3>Selecciona el deporte</h3>        
            <div class="col-12">
                <label for="deporte" class="form-label">Deporte</label>
                <select id="deporte" th:field="*{deporte}" th:errorClass="'is-invalid'">
                    <option selected value=""></option>
                    <option th:each="d : ${deportes}" th:value="${d.id}" th:text="${d.nombre}"></option>
                </select>
            </div>

        <h3>Selecciona la cancha</h3>
        <!--MATERIAL CANCHA-->
            <div class="col-12">
                <label for="cancha" class="form-label">Material</label>
                    <select id="cancha" th:field="*{cancha}" th:errorClass="'is-invalid'">
                        <option selected value=""></option>
                        <option th:each="c : ${canchas}" th:value="${c.id}" th:text="${c.nombre}"></option>
                    </select>
            </div>

        <!--DIMENSIONES CANCHA-->
            <div class="col-12">
                <label for="tamañoCancha" class="form-label">Dimensiones</label>
                <select id="tamañoCancha" th:field="*{tamañoCancha}" th:errorClass="'is-invalid'">
                    <option selected value=""></option>
                    <option th:each="t : ${tamañoCanchas}" th:value="${t.id}" th:text="${t.nombre}"></option>
                </select>
            </div>

        <h3>Datos de la reserva</h3>
        <!--FECHA INICIO-->
        <div class="col-12">
            <label for="inputFechaInicio" class="form-label">Desde</label>
            <input class="input date-form" type="datetime-local">
        </div>
        <!--FECHA FIN-->
        <div class="col-12">
            <label for="inputFechaFin" class="form-label">Hasta</label>
            <input class="input date-form" type="datetime-local">
        </div>
        
        <!--SUBMIT BUTTON-->
        <section class="contenedor-submit">
            <div class="col-auto">
            <button type="submit" class="btn btn-primary submit-btn" data-bs-toggle="popover" title="Alerta" data-bs-content="Transacción exitosa, cancha disponible/ Cancha no disponible, vuelva a intentarlo con otra fecha">Buscar canchas</button>
        </div>
        </section>
    </form>

        <script>
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
            })
        </script>
    </section>

    <!--FOOTER-->
    <footer>
        <p>Desarrollado por Grupo 7 | Todos los derechos reservados</p>
        <p>PoloTic | Posadas, Misiones | 2022</p>
    </footer>
