<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    
    <!--<title>Listado de Reservas</title>-->
    <title th:text="${titulo}"></title>
    
    <link rel="icon" href="cancha2.ico">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- CSS DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--ENCABEZADO-->
    <header th:fragment="header">
        <section class="enlaces-header">
            <h1>Gestor de reservas</h1>
        </section>
        <section sec:authorize="isAuthenticated()">
            <form class="btn-log-out" th:action="@{/logout}" method="POST">
                <button type="submit" onclick="return confirm('¿Está seguro de cerrar sesión?')">
                    Cerrar sesión
                </button>
            </form>
        </section>
    </header>
    
    <!--CUERPO-->

    <!--FORMULARIO-->

    <section class="contenedor-form" th:fragment="contenido">
        <!--
        <div class="row">
            <div th:if="${exito}" class="alert alert-success alert-dismissible fade show">
                <span th:text="${exito}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div th:if="${error}" class="alert alert-danger alert-dismissible fade show">
                <span th:text="${error}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div> -->


        <div class="row mb-3">
            <div class="col h3">Listado de Reservas</div>
            <a href="../crearReserva/index.html" class="col-auto btn btn-lg btn-success"> <!--REVISAR <a href>-->
                <i class='bx bx-plus bx-xs'></i>
            </a>
        </div>

        <table id="reservas" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Dirección del Complejo</th>
                    <th>Deporte</th>
                    <th>Material de la Cancha</th>
                    <th>Dimensiones de la Cancha</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="r : ${reservas}">
                    <td th:text="${r.direccionComplejo}"></td>
                    <td th:text="${r.deporte}"></td>
                    <td th:text="${r.materialCancha}"></td>
                    <td th:text="${r.dimensionesCancha}"></td>
                    <td th:text="${#dates.format(r.fechaIncio, 'dd/MM/yyyy')}"></td>
                    <td th:text="${#dates.format(r.fechaFin, 'dd/MM/yyyy')}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{'reservas/{id}' (id=${r.id})}">
                            <i class='bx bx-file-find bx-xs' ></i>
                        </a>

                        <a class="btn btn-secondary" th:href="@{'/reservas/editar/{id}' (id=${r.id})}">
                            <i class='bx bx-edit-alt bx-xs'></i>
                        </a>

                        <form class="d-inline" th:action="@{'/reservas/{id}' (id=${r.id})}" th:method="DELETE">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro de eliminar el Deporte?')">
                                <i class='bx bx-trash bx-xs'></i>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

    </section>

    <script th:fragment="script">
        $(document).ready(function() {
            $('#reservas').DataTable();
        } );
    </script>    

    <!--FOOTER-->
        <footer>
            <p>Desarrollado por Grupo 7 | Todos los derechos reservados</p>
            <p>PoloTic | Posadas, Misiones | 2022</p>
        </footer>
    </body>
    </html>