<!--ENCABEZADO-->
<header th:fragment="header">
    <section class="enlaces-header">
        <h1>Vista de Administrador</h1>
    </section>
    <section sec:authorize="isAuthenticated()">
        <form class="btn-log-out" th:action="@{/logout}" method="POST">
            <button type="submit" onclick="return confirm('¿Está seguro de cerrar sesión?')">
                Cerrar sesión
            </button>
        </form>
    </section>
</header>

<!--CUERPO-->

<!--FORMULARIO-->

<section th:fragment="contenido">
    <section class="contenedor-form-ver">
        <div class="card-header h3">
            <div class="identificador-lista">
                <h3>Rol #</h3>
                <h3 th:text="${rol.id}"></h3>
            </div>
            <p class="p1">
                <span class="fw-bold">Nombre del Rol:</span>
                <span th:text="${rol.nombre}"></span>
            </p>                 
        </div>
    </section>
    <!--FOOTER-->
    <footer>
        <p>Desarrollado por Grupo 7 | Todos los derechos reservados</p>
        <p>PoloTic | Posadas, Misiones | 2022</p>
    </footer>
</section>

<script th:fragment="script"></script>