:root {
    font-family: 'Inter', sans-serif;
    --blue-green: #28696A;
    --hover-green: #1f5152;
    --blue: #213058;
    --hover-blue: #2e4174;
    --old-white: #F0E6D7;
    --mustard: #F4AE3F;
    --hover-mustard: #eea125;
    --black: #101010;
    --grey: #eeeeee;
    --contenedor: #f3f4ff;
}

body {
    height: 100vh; /* vh significa viewport height o altura del dispositivo, equivalente a decir 100% */
    background: linear-gradient(to right, #2e4174, #28696A);
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-container {
    height: 22em;
    width: 60em;
    margin: 6em auto;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3);;
}

.log-in-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    background-color: var(--contenedor) ;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5em;
}

.enlace-sign-up {
    font-size: .8rem;
    font-weight: 400;
}

.enlace-sign-up a {
    color: var(--blue-green);
}

.enlace-sign-up a:hover {
    font-weight: 500;
    color: var(--hover-green);
}

.image-container {
    width: 50%;
    padding: 3rem;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    /*opacity: 40%;*/
}

label {
    font-size: small;
    color: var(--contenedor);
}

.input-container {
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input, .btn {
    height: 2rem;
    width: 80%;
    font-size: .8rem;
}

.input {
    padding-left: 1rem;
    border: none;
    border-radius: 0.5rem;
    /*font-weight: 600;*/
    box-sizing: border-box;
}

.input:hover {
    border: 2px solid var(--hover-blue);
}

.btn {
    padding: .5rem 1rem;
    width: 30%;
    background-color: var(--blue-green);
    border: none;
    border-radius: 1rem;
    color: var(--old-white);
    font-size: .8rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1.5em;
    margin-bottom: .5em;
}

.btn:hover {
    border: #fff;
    background-color: var(--hover-green);
}
